@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #152237;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}